<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<title>{% block title %}Welcome!{% endblock %} - {{ app_name }}</title>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" integrity="sha256-HxaKz5E/eBbvhGMNwhWRPrAR9i/lG1JeT4mD6hCQ7s4=" crossorigin="anonymous" />
		<!-- Google Web Font Embed -->
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,600,500,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha256-PCsx7lOyGhyGmzsO5MGXhzwV6UpNTlNf1p6V6w2CppQ=" crossorigin="anonymous" />
		<link rel="stylesheet" href="/assets/css/font-awesome.min.css">
		<link rel="stylesheet" href="/assets/css/templatemo_main.css">
		<link rel="stylesheet" href="{{ asset('build/app.css') }}">
		{% block stylesheets %}{% endblock %}


		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous" defer></script>
	</head>
	<body data-route="{{ app.request.attributes.get('_route') }}" style="background-image : url(/assets/images/{% block background_image %}{% endblock %})">
		<header class="templatemo-logo black-bg" id="header">
			<h1 class="templatemo-site-title" style="margin-left:auto;margin-right:auto">
				<a href="/">{{ app_name }}</a>
			</h1>
			<nav>
				{{ render(controller( 'App\\Controller\\CartController::cartSum' )) }}
				{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
				{% if is_granted('ROLE_ADMIN') %}
				<a href="{{ path('easyadmin') }}">Admin</a>
				{% endif %}
				<a href="{{ path('logout') }}">Logout</a>
				{% else %}
				<a href="/login">Log in</a>
				{% endif %}
			</nav>
		</header>
		{% set flashMessages = app.session.flashbag.get('info') %}
		{% if flashMessages is not empty %}
		{% for flashMessage in flashMessages %}
		<div class="alert alert-info alert-dismissible fade show" role="alert" style="opacity: 1">
			{{ flashMessage }}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		{% endfor %}
		{% endif %}

		<section id="body" class="container pb-5">
			<div class="templatemo-content-wrapper">
				<div class="templatemo-content">
					{% block body %}{% endblock %}
				</div>
			</div>
		</section>

		<footer class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 footer">
				<p class="footer-text mb-0">Made with <i class="fa fa-heart"></i> &amp; Symfony4, by <a href="https://ithoughts.io/">iThoughts</a> &amp; Azkali. Copyright &copy; 2018</p>
			</div><!-- /.footer -->
		</footer>

		<div id="flashes"></div>

		<script>
		window.currencyFormat = '{{ 0 | localizedcurrency('EUR') }}';
		window.routes = {
			removeFromCart: '{{ path('removeFromCart', {index: '{id}'}) }}',
		}
		</script>
		<script src="{{ asset('build/app.js') }}" defer></script>
		{% block javascripts %}{% endblock %}
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-61219056-8"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-61219056-8');
		</script>

	</body>
</html>
