<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<title>{% block title %}Welcome!{% endblock %}</title>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" integrity="sha256-HxaKz5E/eBbvhGMNwhWRPrAR9i/lG1JeT4mD6hCQ7s4=" crossorigin="anonymous" />
		<!-- Google Web Font Embed -->
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,600,500,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha256-PCsx7lOyGhyGmzsO5MGXhzwV6UpNTlNf1p6V6w2CppQ=" crossorigin="anonymous" />
		<link rel="stylesheet" href="/build/css/font-awesome.min.css">
		<link rel="stylesheet" href="/build/css/templatemo_main.css">
		<link rel="stylesheet" href="{{ asset('build/app.css') }}">
		{% block stylesheets %}{% endblock %}
	</head>
	<body style="background-image : url(/build/images/{% block background_image %}{% endblock %})">
		<header class="templatemo-logo black-bg" id="header">
			<h1 class="templatemo-site-title">
				<a href="/">Wello Horld</a>
			</h1>
			<nav>
				<a href="/cart" title="Cart"><i class="fa fa-shopping-cart"></i></a>
				{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
				{% if is_granted('ROLE_ADMIN') %}
				<a href="{{ path('easyadmin') }}">Admin</a>
				{% endif %}
				<a href="{{ path('logout') }}">Logout</a>
				{% else %}
				<a href="/login">Log in</a>
				{% endif %}
			</nav>
		</header>
		{% set flashMessages = app.session.flashbag.get('info') %}
		{% if flashMessages is not empty %}
		{% for flashMessage in flashMessages %}
		<div class="alert alert-info alert-dismissible fade show" role="alert" style="opacity: 1">
			{{ flashMessage }}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		{% endfor %}
		{% endif %}

		<section id="body" class="container">
			{% block body %}{% endblock %}
		</section>

		<footer class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 footer">
				<p class="footer-text">Made with <i class="fa fa-heart"></i> &amp; Symfony4, by <a href="https://ithoughts.io/">iThoughts</a> &amp; Azkali. Copyright &copy; 2018</p>
			</div><!-- /.footer -->
		</footer>

		<script src="js/jquery.min.js"></script>
		<script src="js/jquery-ui.min.js"></script>
		<script src="js/jquery.backstretch.min.js"></script>
		<script src="js/templatemo_script.js"></script>
		<script src="{{ asset('build/app.js') }}"></script>
		{% block javascripts %}{% endblock %}
	</body>
</html>
