{% extends 'pages/base.html.twig' %}

{% block body %}
<script>
window.attributesByCategory = {{ attributesByCategory | json_encode | raw }};
</script>
<section id="product-section" class="inactive active" style="display: block;">
 <div data-product-id="{{ model.entity.id }}" class="product my-2 mx-3">
  <div class="black-bg btn-menu">
   <img src="{{model.image}}" alt="{{ model.entity.title }}"/>
   <h3>{{ model.entity.title }}</h3>
   <p class="description">{{'' | default('No description provided')}}</p>
   <p class="meta">Starting at <span>{{ model.price * 100 }}€</span></p>
  </div>
  <form method="post" action="{{path('addToCart', {slug: model.entity.slug})}}">
   <div class="materials-choices">
    {% for attribute in model.entity.attributes %}
    <div class="mx-0 form-row align-items-stretch" data-factor="{{ attribute.factor }}" data-category="{{ attribute.category.id }}">
     <label  class="sr-only" for="attribute-{{ attribute.id }}">{{attribute.name}}</label>
     <div class="input-group">
      <div class="input-group-prepend">
       <div class="input-group-text">{{ attribute.name }}</div>
      </div>
      <div class="input-group-append">
       <div class="input-group-text">&times;{{attribute.factor}}</div>
      </div>
     </div>
    </div>
    {% endfor %}
   </div>
   <div class="d-flex flex-row mx-0 flex-nowrap ">
    <button type="submit" class="col btn btn-primary">Add to cart</button>
    <output  class="col alert alert-info unit-price"></output>
   </div>
  </form>
 </div>
 <div class="row margin-top-20">
  <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6  pull-right">
   {{ include('components/back-to-menu-btn.html.twig') }}
  </div>
 </div>
</section><!-- /.product-section -->
{% endblock %}


{% block background_image %}zoom-bg-2.jpg{% endblock %}
